{%extends "layout.html"%}

{%block content%}
<div class="row mt-2 pb-5">
   <div class="col-lg-7 my-lg-0 mx-lg-2 my-2">
      <img class="img-fluid" src="{{url_for('static', filename='product_pics/' + image)}}" alt="">
   </div>
   <div class="col-lg ">
      <div class="container border pb-2">
         <h3 class="my-3 text-muted">{{title}}</h3>
			<div class="lead" style="height:120px">{{descriptions}}</div>
			<form action="#" method="post">
				<div id="prod_option" class="input-group input-group-lg">

					<select name="cantidad" class="form-select" style="max-width:91px" >
						{%for x in range(quantity)%}
						<option>{{x+1}}</option>
						{%endfor%}
					</select>
					<button id="comprar-boton" class="btn btn-success">Comprar</button>
					<button id="carrito-boton" type="submit" class="btn btn-secondary">+ Al Carrito</button>

				</div>
			</form>
	</div>
</div>
<script>
	$("#carrito-boton").click(function(){
			const x = $("select").find(":selected").text();
		})

	if($(window).width()<1188){
			$("#prod_option").removeClass("input-group-lg")
		}
	else{
			$("#prod_option").addClass("input-group-lg")
		}
	
	$(window).on('resize', function(){
			if($(window).width()<1188){
					$("#prod_option").removeClass("input-group-lg")
				}
			else{
					$("#prod_option").addClass("input-group-lg")
				}

		})
</script>
			{%endblock content%}
